*{
    margin: 0;
    padding: 0;
}

.test{
    padding-top: 5px;
}

.navbar{
    background-color: #202741;
    max-height: 55px;
}

.nav-link{
    color: white;
}

.nav-seacrh{
    margin-right: 200px;
}

.input{
    border-radius: 60px;
}

/* italic placeholder text */
input::placeholder {
    font-style: italic;
}

.nav-btn:hover {
    background-color: rgb(75, 180, 75);
  }

.nav-link:hover{
    color: white;
}

.nav-right{ 
    padding-left: 100px;
}

.btn-right:hover{
    background-color: rgba(194, 194, 194, 0.3);
    /* opacity: 0.5; */
}

.nav-prof{
    border-radius: 60px;
}

.nav-prof:hover{
    opacity: 0.5;
}

/* hero section */

#hero {
    background-image: url('../img/main-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Adjust this to your desired height */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    text-align: center;
}

.hero-title {
    font-size: 4rem; /* Adjust font size as needed */
    z-index: 1; /* Ensure it appears above the background */
    margin-top: -200px;
    font-weight: bold;

}

.hero-input{
    max-width: 500px;
    margin-left: 500px;
    border-radius: 60px;
}

/* html section  */

#html-sec{
    height: 500px;
    background-color: #f1f6ff;
    background-position: center;
    justify-content: center;
    display: flex;
    text-align: center;
}

.html-title{
    font-size: 6rem;
    z-index: 1;
    margin-top: 100px;
    font-weight: bold;
}

.btn-html{
    border-radius: 60px;
    font-weight: bold;
}

.btn-html:hover {
    filter: brightness(85%); /* Darkens the color by 15% */
}

.html-card{
    margin-top: 100px;
}

.btn-html-footer{
    background-color: rgb(88, 212, 88);
    color: white;
    font-weight: bold;
    border-radius: 50px;
}

.btn-html-footer:hover{
    background-color: rgb(84, 172, 84);
    color: white;
}

/* css section  */

#css-sec{
    height: 650px;
    background-color: #ebdf94;
    background-position: center;
    justify-content: center;
    display: flex;
    text-align: center;
}

.css-title{
    font-size: 6rem;
    z-index: 1;
    margin-top: 100px;
    font-weight: bold;
}

/* js section  */

#js-sec{
    height: 650px;
    background-color: #0a0c22;
    background-position: center;
    justify-content: center;
    display: flex;
    text-align: center;
}

.js-title{
    font-size: 4rem;
    z-index: 1;
    margin-top: 100px;
    font-weight: bold;
    color: white;
}

/* python section  */

#python-sec{
    height: 550px;
    background-color: #feebf4;
    background-position: center;
    justify-content: center;
    display: flex;
    text-align: center;
}

.python-title{
    font-size: 4rem;
    z-index: 1;
    margin-top: 100px;
    font-weight: bold;
    color: black;
}

/* sql section  */

#sql-sec{
    height: 550px;
    background-color: #4cb5a0;
    background-position: center;
    justify-content: center;
    display: flex;
    text-align: center;
}

.sql-title{
    font-size: 4rem;
    z-index: 1;
    margin-top: 100px;
    font-weight: bold;
    color: black;
}

/* two card section  */

#two-card{
    height: 1100px;
    background-color: #0a0c22;
}

.card-controll{
    height: 300px;
    justify-content: center;
    text-align: center;
}

.two-card-body{
    margin-top: 75px;
}

.two-card-btn{
    border-radius: 50px;
    background-color: #1e203c;
    color: white;
    font-weight: bold;
}

.two-card-btn:hover{
    background-color: #04040c;
    color: white;
}