.topic{
    padding-left: 200px;
}
.box{
    width: 180px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(55, 19, 88);

}
.logo{
    height: 50px;
    width: 170px;
    font-size: large;
    color: aliceblue;
}
.line{
    border: 0;
    height: 3px;
    background-color: black;
}
.menu img{
    height: 20px;
    width: 20px;
}
.menu p{
    color: aliceblue;
}
.box2{
    width: calc(100%-180px);
    height: 60px;
    background-color: rgb(230, 230, 229);
    top: 180px;
    left: 180px;
}
.box2 img{
    height: 20px;
    width: 20px;
    padding-left: 190px;
    padding-top: 15px;
}
