*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

body{
    min-height: 100hv;
    background: url(vjha_je0w_211202.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 32px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 700;
}
.navbar a{
    position: relative;
    font-size: 18px;
    color: aliceblue;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}
.navbar a::before{
    content: '';
    position: absolute;
    top:100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: 3s;
}
.navbar a::before{
    width: 100%;
}