.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    border: 2px solid black;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}
